.imageFriendAccount {
    width: 180px;
    height: 180px;
}

.headerTwoLink {
    text-decoration: none;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 15px;
    width: 20% !important;
}