.profileImage {

    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.instaReco {
    font-size: 10px;
}

.mainFriend ul li {

    list-style: none;
    margin-right: 10px;
}

.childFriend {
    text-decoration: none;
}

.search {
    position: relative;
}

.iconeSearch {
    position: absolute;
    top: 15%;
    right: 15%;

}

.iconeSearchClose {
    position: absolute;
    left: 15%;
    top: 15%;

}

.mouseCursor {
    cursor: pointer !important;
}